@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="w-50" style="padding:5rem;">
        <form asp-action="NewBlog" method="post">
            <div class="form-group">
                <label name="Title">Title:</label>
                <div style="height:.5rem;"></div>
                <input name="Title" class="form-control" />
            </div>
            <div style="height:1rem;"></div>
            <div class="form-group">
                <label name="Date">Date:</label>
                <div style="height:.5rem;"></div>
                <input name="Date" class="form-control" />
            </div>
            <div style="height:.5rem;"></div>
            <div class="form-group">
                <label name="Description">Description:</label>
                <div style="height:.5rem;"></div>
                <input name="Description" class="form-control" />
            </div>
            <div style="height:1rem;"></div>
            <div class="form-group">
                <label name="BlogImageUrl">Image Url:</label>
                <div style="height:.5rem;"></div>
                <textarea name="BlogImageUrl" style="resize:none;" class="form-control"></textarea>
            </div>
            <div style="height:1rem;"></div>
            <button class="btn btn-success" type="submit">Add Blog</button>
        </form>
    </div>
</div>